<div class="auth-wrapper">
    <div>
        <nb-card>
            <nb-card-body>
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="brand-wrapper">
                                <img src="assets/images/my-login-page-icon.png" class="text-center w-100 m-0" />
                              </div>
                        </div>
                        <div class="col-md-6">
                            <div class="auth-content">
                                <h2 id="title" class="title text-center mb-4"> {{ 'CHANGE_PASSWORD.CHANGE_PASSWORD' |
                                    translate }} </h2>
                                <form aria-labelledby="title" [formGroup]="changePasswordForm"
                                    (ngSubmit)="changePassword(changePasswordForm.valid)">
                                    <div class="form-control-group mb-4">
                                        <label class="label label_color"> {{ 'CHANGE_PASSWORD.CURRENT_PASSWORD' | translate }} :
                                        </label>
                                        <input nbInput fullWidth fieldSize="large" autofocus type="password"
                                            placeholder="{{'CHANGE_PASSWORD.PLACE_HOLDER.CPASSWORD' | translate }}"
                                            formControlName="oldPassword" class="dark-bg"
                                            [status]="(submitted && f.oldPassword.errors && f.oldPassword.errors.required) ? 'danger' : null ">
                                        <div *ngIf="submitted && f.oldPassword.errors">
                                            <div *ngIf="f.oldPassword.errors.required"
                                                class="caption status-danger mt-1">
                                                {{ 'CHANGE_PASSWORD.ERROR.CPASSWORD' | translate }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-control-group mb-4">
                                        <label class="label label_color">
                                            {{ 'CHANGE_PASSWORD.NEW_PASSWORD' | translate }} :
                                        </label>
                                        <input nbInput fullWidth fieldSize="large" autofocus type="password"
                                            placeholder="{{'CHANGE_PASSWORD.PLACE_HOLDER.NPASSWORD' | translate }}"
                                            formControlName="newPassword" class="dark-bg"
                                            [status]="(submitted && f.newPassword.errors && f.newPassword.errors.required) ? 'danger' : null ">
                                        <div *ngIf="submitted && f.newPassword.errors">
                                            <div *ngIf="f.newPassword.errors.required"
                                                class="caption status-danger mt-1">
                                                {{ 'CHANGE_PASSWORD.ERROR.NPASSWORD' | translate }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <button  type="submit" fullWidth  size="large"  nbButton status="info" hero >
                                                {{ 'COMMON_KEYS.SUBMIT' | translate }}
                                                <i class="fa fa-spinner fa-spin mr-2 ml-2" aria-hidden="true"
                                                    *ngIf="isLoading"></i>
                                            </button>
                                        </div>
                                        <div class="col-sm-6">
                                            <button nbButton type="button" fullWidth status="success"  hero size="large"
                                                [routerLink]="['/dashboard']" >
                                                {{ 'COMMON_KEYS.BACK' | translate }}
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>